body {
  max-width: 100%;
  background-color: rgb(74, 79, 115);
  color: #ffff;
}
header {
  background-color: rgb(133, 223, 225);
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  list-style: none;
  gap: 30px;
}
.navpara p {
  font-size: 30px;
}
@media screen and (max-width: 2300px) {
  h1 {
    font-size: 60px;
  }
  li {
    font-size: 40px;
  }
}
@media screen and (max-width: 1000px) {
  body {
    background-color: rgb(104, 126, 151);
  }
  header {
    display: block;
  }
  h1 {
    font-size: 50px;
  }
  li {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  body {
    background-color: rgb(37, 69, 90);
  }
  ul {
    display: block;
  }
  li {
    font-size: 20px;
  }
  h1 {
    font-size: 30px;
  }
}
