* {
  box-sizing: border-box;
}
body {
  max-width: 100%;
  width: 1350px;
  height: auto;
}
header{
  display: flex;
  justify-content: center;
  background: url(images/cover.jpg);
  background-repeat: no-repeat;
  background-position: co;
}
